Repository filecoin-project/specs, pull requests merged in 2020-10, with the labels that each got.

#1172 fix(content): intro filecoin vm - typo
  content/intro/filecoin_vm.md
Labels: hint: ready to merge, scope: content

#1107 fix(content): revise language & recommendations around timekeeping
  content/systems/filecoin_nodes/clock/_index.md
Labels: hint: ready to merge

#1239 fix(content): fix BLS signature aggregation language
  content/algorithms/crypto/signatures.md
Labels: hint: active, hint: ready to merge, scope: content
